@import url(https://fonts.googleapis.com/css?family=Lato:300);

* {
  box-sizing: border-box;
}

body {
  background: #ccc;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

#calendar {
  margin: 0 auto;
}

div .month-div {
  float:left;
  margin:2px;
}

#calendar h2 {
  line-height: 42px;
  margin: 0;
  font-weight: 300;
  color: #fff;
  background: #E88D67;
  text-align: center;
}

#calendar table {
  background: #E88D67;
}

#calendar .week-days {
  color: #fff;
}

#calendar .day {
  width: 70px;
  height: 40px;
  text-align: center;
}

#calendar .week .day {
  background: #eee;
  color: black;
}

#calendar .week .day:not(.other-month):hover {
  color: #fff;
  background: #EF3054;
}

#calendar .other-month {
  opacity: 0.5;
}

p {
  text-align: center;
}
